body {
  margin: 0px;
}
 
.container-div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 5px;
  padding-top: 15vh;
}

.header-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  z-index: 1000;
  background-color: white;
  border: 2px solid black;
  display: flex;
}

.headerinfo-div {
  flex-grow: 1;
  text-align: right;
}

.headerinfo {
  margin-right: 10%;
  font-family: cursive;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  transition: 0.5s;
}
.headerinfo:hover {
  box-shadow: 2px 2px 2px grey;
  border-radius: 10px;
}

.headerbtn-div {
  flex-grow: 1;
}

.picture-div {
  flex-grow: 1;
  background-color: aqua;
  border: 2px solid black;
}

.project-div {
  flex-grow: 1;
  background-color: blue;
  border: 2px solid black;
}

.icon {
  height: ;
}