body {
  background-image: url("assets/web\ background.png");
}

#containerdiv {
  display: flex;
  margin: 3%;
  height: 100vh;
}

#citydiv {
  width: 25%;
  background-color: hsl(34, 78%, 91% ,0.2);
  border-radius: 40px;
  border: 2px solid rgb(255, 255, 255, 0.5);
  height: 95%;
}
#cityinput {
  margin-top: 20%;
  width: 90%;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 8px;
  height: 35px;
}
#savedcity {
  color: rgba(0, 0, 0, 0.55);
  margin: 8%;
  font-size: large;
}
#savedcitiesdiv {
  color: rgba(0, 0, 0, 0.8);
  font-size: larger;
  margin-left: 5%;
}


#tempdiv {
  width: 50%;
  background-color: aquamarine;
}

#infocontainerdiv {
  width: 25%;
  background-color: bisque;
}